ul.list-arrow {
    padding: 0;
    margin: 0;
    color: #333;
}
ul.list li {
    margin: 5px 0;
    line-height: 28px;
}

ul.list-arrow li {
    list-style-type: none;
    position: relative;
}
ul.list li:after {
    content: "";
    font-family: 'FontAwesome';
    position: absolute;
    color: #84ba3f;
    left: 0;
    top: 0;
}
.list-arrow > .fa-angle-right:before {
    content: "\F105";
    padding-right: 10px;
}
