.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.pagination {
    margin: 0px;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination li a {
    font-size: 15px;
    font-weight: 500;
    margin: 0 5px;
    color: #626262;
    border-radius: 3px;
    text-decoration: none;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 3px;
}

.pagination > li > a, .pagination > li > span {
    background: #f6f7f8;
    border: 0px;
    text-align: center;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.pagination .page-item a:hover{
  background-color: #333;
  color:#fff
}
